.banner-slider {
    height: auto;
    .slide-zoom {
        line-height: 0;
    }
    .swiper-pagination {
        text-align: right;
        padding-right: 15px;
    }
    .swiper-pagination-bullet {
        background-color: white;
    }
}

.cta-home {
    height: 120px;
    color: white;
    padding-top: 50px;
    padding-left: 35px;
    position: relative;
    transition: all 0.2s ease-in-out;
    img{
        width: 42px;
        position: absolute;
        top: 50%;
        margin-top: -21px;
        left: 50%;
        margin-left: -64px;
        transition: all 0.3s ease-in-out;
    }
    img{
        margin-left: -56px;
    }
    div.display {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        padding-left: 25px;
    }
    &.active{
        div.display {
            z-index: 2;
            img{
                z-index: 3;
            }
        }
        .box--expander {
            z-index: 2;
        }
    }
    &.cta-1 {
        /*background-color:  #f1736a;*/
        border-top: solid 1px white;
        border-right: solid 1px white;
        
        .morph-shape--color-4 svg path {
            fill: #f1736a;
        }
    }
    &.cta-2 {
        /*background-color:  #fb965a;*/
        border-top: solid 1px white;

        .morph-shape--color-4 svg path {
            fill: #fb965a;
        }
    }
    &.cta-3 {
        /*background-color:  #00bdcc;*/
        border-right: solid 1px white;
        border-bottom: solid 1px white;

        .morph-shape--color-4 svg path {
            fill: #00bdcc;
        }
    }
    &.cta-4 {
        /*background-color:  #25b578;*/
        border-bottom: solid 1px white;

        .morph-shape--color-4 svg path {
            fill: #25b578;
        }
    }

}

.menu-button {
    background-color: white;
    color: #444;
    display: block;

    &.activated {
        background-color: white;
    }
}

ion-row {
    position: relative;
}


.box--expander {
    width: 122%;
    height: calc(20% + 120px);
    float: none;
    transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
    position: absolute;
    z-index: 1;
    left: -11%;
    top: -10%;
    .trigger {
        display: none;
    }
}



.box--expander.box--sizeup {
    width: calc(240% + 10px);
    height: calc(40% + 242px);
    left: calc(-20% - 4px);
    top: calc(-20% - 2px);

    &#expander-2 {
        left: calc(-120% - 4px);
    }

    &#expander-3 {
        top: calc(-120% - 2px);
    }

    &#expander-4 {
        left: calc(-120% - 4px);
        top: calc(-120% - 2px);
    }
}