.banner-slider {
    height: auto;
    .slide-zoom {
        line-height: 0;
    }
    .swiper-pagination {
        text-align: right;
        padding-right: 15px;
    }
    .swiper-pagination-bullet {
        background-color: white;
    }
}

.cta-home {
    height: 120px;
    color: white;
    padding-top: 50px;
    padding-left: 35px;
    position: relative;
    transition: all 0.2s ease-in-out;
    img{
        width: 42px;
        position: absolute;
        top: 50%;
        margin-top: -21px;
        left: 50%;
        margin-left: -64px;
        transition: all 0.3s ease-in-out;
    }
    &.cta-1 {
        background-color:  #f1736a;
        border-top: solid 1px white;
        border-right: solid 1px white;
        &.active{
            color:  #f1736a;
        }
    }
    &.cta-2 {
        background-color:  #fb965a;
        border-top: solid 1px white;
        &.active{
            color:  #fb965a;
        }
    }
    &.cta-3 {
        background-color:  #00bdcc;
        border-top: solid 1px white;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        &.active{
            color:  #00bdcc;
        }
    }
    &.cta-4 {
        border-top: solid 1px white;
        background-color:  #25b578;
        border-bottom: solid 1px white;
        &.active{
            color:  #25b578;
        }
    }

    &.active{
        img {
            opacity: 0;
        }
    }

}

.menu-button {
    background-color: white;
    color: #444;

    &.activated {
        background-color: white;
    }
}


.box--expander {
    width: 50%;
    height: 160px;
    float: none;
    margin: 0 auto;
    transition: width 0.2s, height 0.2s;
}

.morph-shape--color-4 svg path {
    fill: #71CF84;
}

.box--expander.box--sizeup {
    width: 100%;
    height: 240px;
}